<div>
    <div>Hitpoints: @UnitDef.Hitpoints</div>
    <div>Attack: @UnitDef.Attack</div>
    <div>Defense: @UnitDef.Defense</div>

</div>


@code {
    [Parameter]
    public required BrowserGameEngine.Shared.UnitDefinitionViewModel UnitDef { get; set; }
}
