@page "/ranking"
@using BrowserGameEngine.Shared
@inject HttpClient Http

<h1>Ranking</h1>

@if (model == null) {
    <p><em>Loading...</em></p>
} else {
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Punkte</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in model.OrderByDescending(x => x.Score)) {
            <tr>
                <td>@item.PlayerId</td>
                <td>@item.PlayerName</td>
                <td>@item.Score</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private PublicPlayerViewModel[]? model;

    protected override async Task OnInitializedAsync() {
        model = await Http.GetFromJsonAsync<PublicPlayerViewModel[]>("api/playerranking");
    }

}
