@page "/profile"
@using BrowserGameEngine.Shared
@inject HttpClient Http

<h1>Profile</h1>

@if (model == null) {
    <p><em>Loading...</em></p>
} else {
    <div>
        <EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <InputText id="PlayerName" @bind-Value="model.PlayerName" />

            <button type="submit">Submit</button>
        </EditForm>
    </div>
}

@code {
    private PlayerProfileViewModel? model;

    protected override async Task OnInitializedAsync() {
        model = await Http.GetFromJsonAsync<PlayerProfileViewModel>("api/playerprofile");
    }

    private async Task HandleValidSubmit() {
        if (model == null) return;
        await Http.PostAsJsonAsync("api/playerprofile/changename", model);
    }

}
